/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul,ol,li{
    list-style: none;
}

body{
    overflow: hidden;
}

/* font */
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* HEADER ------------------------------*/
#header{
    position: absolute;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.454);
    width: 100%;
    height: 100px;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
#header h1{}

#header h1 a{
    color: white;
}

/* menu */
#header .menu{
    display: flex;
}

#header .menu li{
    padding: 0 1rem;
}

#header .menu li a{
    color: white;
}

/* sns */
#header .sns{
    display: flex;
}

#header .sns li{
    margin-left: 1vw;
}

#header .sns li a{
    color: white;
}

#header .sns li a i{
    color: white;
}

/* submenu */
#header .sub_menu{
    position: absolute;
    right: 2rem;
    display: none;
}

#header .sub_menu a i{
    color: white;
    font-size: 1.3rem;
}



/* MAIN --------------------------------*/
#main{
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
}

#main video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

#main .inner{
    position: absolute;
    top: 30%;
    left: 6vw;
    margin-top: 100px;
}

#main .inner .txt p{
    font-size: 4vw;
    font-family: 'Lato', sans-serif;
}
#main .inner .txt ul{
    display: flex;
}
#main .inner .txt ul li{
    font-size: 18px;
    margin-right: 15px;
}
#main .inner .txt ul li a{
    color: rgba(255, 255, 255, 0.5);
    transition: .5s;
}
#main .inner .txt ul li a:hover{
    color: rgba(255, 255, 255, .8);
}

#main .inner .txt ul li a strong{
    font-size: 16px;
    margin-left: 5px;
    text-transform: lowercase;
}

/* FOOTER -------------------------------*/
#footer{
    width: 100%;
    position: absolute;
    bottom: .8rem;
    color: rgba(255, 255, 255, 0.728);
    font: 14px/1 'arial';
    text-align: center;
}

@media screen and (max-width:768px){
    #header{
        height: 80px;
    }
    #header h1{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1px;
        font-size: 1.8rem;
    }
    #header .sub_menu{
        display: block;
    }

    #header .menu, #header .sns{
        display: none;
    }

    #main .inner .txt p{
        font-size: 5vw;
    }

    #main .inner .txt ul{
        display: block;
    }
    #main .inner .txt ul li{
        font-size: 18px;
        margin-right: 15px;
    }

    
    #main .inner .txt ul li a strong{
        font-size: 14px;
        margin-left: 5px;
    }
}